.main-container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-text {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.hero-text h1 {
    font: bold 70px Poppins, sans-serif;
    /* background-image: linear-gradient(60deg, #7367ef, #9d67ef);
    background-clip: text;
    color: transparent; */
    color: #000;
}
.hero-text p {
    width: 75%;
}

.hero-text .wht-btn {
    text-decoration: none;
    padding: 12px 20px;
    background-color: #7367ef;
    color: #fff;
    border-radius: 80px;
    width: 250px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    outline: 2px solid #7367ef;
    outline-offset: 2px;
}

.hero-text .wht-btn:hover {
    outline-offset: 4px;
    transition: 0.1s ease-in;
}

.hero-text .wht-btn:focus {
    outline-offset: 8px;
    transition: 0.65s ease-in;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    border-top: 1px solid rgb(103 107 95 / 1);
}
.credits {
    margin: auto;
}

.credits span {
    color: #7367ef;
}