*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Helvetica, Arial, "system-ui", -apple-system !important;
}

:root {
    --top-header-height: 100px;
}

body {
    max-width: 100vw;
    min-height: 100vh;
}

.top-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 10%;
    background-color: #fff;
    border-bottom: 1px solid rgb(103 107 95 / 1);
}

.top-header .logo-text {
    font-size: 1.3rem;
    font-weight: bold;
}

.top-header .nav-box {
    margin: auto 0;
}

.top-header .nav-box ul {    
    display: flex;
    gap: 30px;
}

.top-header .nav-box ul li {
    list-style: none;
}

.top-header .nav-box ul li a {
    text-decoration: none;
    color: #000;
}

.top-header .nav-box ul li a:hover {
    color: #7367ef;
    transition: 0.15s ease-in color;
}


.main-container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-text {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.hero-text h1 {
    font: bold 70px Poppins, sans-serif;
    /* background-image: linear-gradient(60deg, #7367ef, #9d67ef);
    background-clip: text;
    color: transparent; */
    color: #000;
}
.hero-text p {
    width: 75%;
}

.hero-text .wht-btn {
    text-decoration: none;
    padding: 12px 20px;
    background-color: #7367ef;
    color: #fff;
    border-radius: 80px;
    width: 250px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.hero-text .wht-btn:hover {
    outline: 2px solid #7367ef;
    outline-offset: 2px;
    cursor: pointer;
}

.hero-text .wht-btn:focus {
    outline-offset: 5px;
    transition: 0.65s ease-in;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    border-top: 1px solid rgb(103 107 95 / 1);
}
.credits {
    margin: auto;
}

.credits span {
    color: #7367ef;
}